# Ejemplo de archivo .env.example

# Puerto en el que se ejecutará la aplicación
PORT=3000

# URL de conexión a la base de datos MongoDB
DB_URL=mongodb+srv://tu_usuario:tu_contraseña@cluster0.tudominio.mongodb.net/tu_basedatos

# Clave secreta para JWT
JWT_SECRET_KEY=clave_secreta_para_jwt
